<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">
        <link rel="icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">

        <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">
        <link href="/css/mainui.css" rel="stylesheet">
        <title>Administration Dashboard</title>
    </head>

    <body>
        <div class="container">
            <div class="app-bar cappbar bg-teal z-dropdown" data-role="appbar">
                <h3 class="brand no-hover">
                    <span style="width: auto; line-height: 35px;" class="text-center border-none bd-darkGray pl-2 pr-2 mt-2 fg-white"><span
                            class="pr-4"><img src="../img/Graphicloads-Transport-Bus-4.ico" height="40px;"></span>Transport
                        Management System</span>
                </h3>

                <div class="app-bar-container">
                    <a href="#" class="app-bar-item dropdown-toggle fg-white">Item 1</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li><a href="#">Menu List 1</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle">Menu List 2</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="#">Menu List 2-1</a></li>
                                <li><a href="#">Menu List 2-2</a></li>
                                <li class="divider bg-lightGray"></li>
                                <li><a href="#">Menu List 2-3</a></li>
                            </ul>
                        </li>
                        <li class="divider bg-lightGray"></li>
                        <li><a href="#">Menu List 2</a></li>
                    </ul>
                </div>
                <a href="#" class="app-bar-item fg-white">Item 2</a>
                <ul class="app-bar-menu fg-white">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">Products</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="#">Windows 10</a></li>
                            <li><a href="#">Office 365</a></li>
                            <li class="divider bg-lightGray"></li>
                            <li><a href="#">Skype</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    </body>
</html>