<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">
        <link rel="icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">

        <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">
        <link href="/css/mainui.css" rel="stylesheet">
        <title>Driver Dashboard</title>
    </head>
    <body>
        <div class="container">
            <aside class="sidebar z-2 csidebar" data-role="sidebar" data-toggle="#sidebar-toggle" id="sb1">
                <div class="sidebar-header csidebar-header" data-image="/img/bggravatar.png" style="background-image:url('/img/bggravatar');"> 
                    <a href="/" class="fg-white sub-action" onclick="Metro.sidebar.close('#sb1'); return false;">
                        <span class="mif-arrow-left mif-2x"></span>
                    </a>
                    <div class="avatar">
                        <img data-role="gravatar" src="/img/user.png" data-role-gravatar="true">
                    </div>
                    <span class="title fg-white"><%= user.name%></span>
                    <span class="subtitle fg-white"><%= user.dId%></span>
                </div>
                <ul class="sidebar-menu">
                        <li><a><span class="mif-home fg-red icon"></span>Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html"><span class="mif-exit fg-blue icon"></span>Log Out</a></li>
                    </ul>
            </aside>
            <div class="p-ab">
                <div class="app-bar cappbar pos-fixed bg-brandColor1 z-1" data-role="appbar" id="app-bar-1">
                    <button class="app-bar-item cappbar-item c-pointer" id="sidebar-toggle">
                        <span class="mif-menu cappbar-menu fg-white"></span>
                    </button>
                    <h1 class="brand cappbar-header no-hover fg-white mx-auto">Transport Management System</h1>
                </div>
                <div class="pt-4 pl-1 pr-1">
                    <div class="feature-table row">
                        <div class="cell-1 mb-6">
                            <div data-role="panel" class="mx-auto" data-title-caption="Trip List" data-title-icon="<span class='mif-pin' style='font-size:32px;'></span>"
                                data-collapsible="true" data-cls-panel="shadow-3" data-cls-title="bg-red fg-white"
                                data-cls-title-icon="bg-green fg-white" data-cls-content="bg-grey fg-white"
                                data-cls-collapse-toggle="bg-dark fg-white marker-light">
                                <div class="p-2">
                                    <ul data-role="listview" class="mb-2 rounded newnode disabled fg-black">
                                        <li data-icon="<span class='mif-map'></span>" data-caption="Route-No. : "></li>
                                        <li data-icon="<span class='mif-bus'></span>" data-caption="Vehicle-No. : "></li>
                                        <li data-icon="<span class='mif-users'></span>" data-caption="Students Count : "></li>
                                        <li data-icon="<span class='mif-calendar'></span>" data-caption="Date : "></li>
                                        <li data-icon="<span class='mif-alarm'></span>" data-caption="Time : "></li>
                                    </ul>
                                    <button class="button bg-green rounded drop-shadow fg-white">Track Location</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>