<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">
    <link rel="icon" href="img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">

    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">
    <link href="css/mainui.css" rel="stylesheet">
    <title>Main App UI</title>
</head>

<body>
    <div class="container">
        <div class="aaa p-ab">
            <div class="app-bar cappbar pos-fixed color-effect z-1" data-role="appbar" id="app-bar-1">
                <h1 class="brand cappbar-header no-hover fg-white mx-auto">Transport
                    Management System</h1>
            </div>
            <div class="container-fluid bg-white fg-dark pt-1 pb-20 neb-white">
                <div class="container text-center">

                    <div class="feature-table row mt-10 pos-absolute-md">
                        <div class="cell-md-5 mb-10 pl-6 pr-6">
                            <div class="info-panel rounded no-overflow shadow-3">
                                <div class="mx-auto pt-4 pb-4">
                                    <div class=""><span class="mif-books mif-8x fg-cyan"></span></div>
                                </div>
                                <div class="mx-auto pb-4">
                                    <a href="student/login.html" class="button outline success rounded">Go to Student
                                        Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="cell-md-5 mb-10 pl-6 pr-6">
                            <div class="info-panel rounded no-overflow shadow-3">
                                <div class="mx-auto pt-4 pb-4">
                                    <div class=""><span class="mif-security mif-8x fg-steel"></span></div>
                                </div>
                                <div class="mx-auto pb-4">
                                    <a href="admin/login.html" class="button outline secondary rounded">Go to
                                        Administrator Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="cell-md-5 mb-10 pl-6 pr-6">
                            <div class="info-panel rounded no-overflow shadow-3">
                                <div class="mx-auto pt-4 pb-4">
                                    <div class=""><span class="mif-bus mif-8x fg-brown"></span></div>
                                </div>
                                <div class="mx-auto pb-4">
                                    <a href="driver/login.html" class="button outline warning rounded">Go to Driver
                                        Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>