    .blur-image-bg{
        /* The image used */
        background-image: url("../img/bangalore-layout-14-1452760791.jpg");

        /* Add the blur effect */
        filter: blur(8px);
        -webkit-filter: blur(8px);

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body, html{
        height:100%;
    }
    .signup-container{
        top:-100%;
    }
    #leafletMap {
        height: 400px;
        z-index:100;
    }
    /* Response */
    .response{
        padding: 6px;
        display: none;
    }
    .not-exists{
        color: green;
    }
    
    .exists{
        color: red;
    }
    .required-mark{
        font-size:20px;
    }
