<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">
        <link rel="icon" href="/img/Graphicloads-Transport-Bus-4.ico" type="image/x-icon">
        <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet">
        <link href="/css/signup.css" rel="stylesheet">
        <link href="/css/mainui.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin="" />

        <title>Signup Form</title>
    </head>
    <body>
        <div class="blur-image-bg"></div>
        <div class="container signup-container">
            <div class="p-ab">
                <div class="app-bar cappbar color-effect z-1" data-role="appbar" id="app-bar-1">
                    <button class="app-bar-item cappbar-item c-pointer" id="sidebar-toggle" style="padding:0px 5px;">
                        <a href="login.html">
                            <span class="mif-arrow-left fg-white cappbar-menu"></span>
                        </a>
                    </button>
                    <h1 class="brand cappbar-header no-hover fg-white mx-auto">Transport Management System</h1>
                </div>
                <div class="p-2 m-2 border-dashed bd-red border-size-1">
                    <h1>SignUp Form</h1>
                    <label class="fg-red required-mark">* : Required</label>
                    <form class="p-1 mt-4 mb-4">
                        <input class="mt-2" id="name" type="text" data-role="input" data-prepend="Name<span class='fg-red required-mark'>*</span>:" />
                        <input class="mt-2" id="usn" type="text" data-role="input" data-prepend="USN<span class='fg-red required-mark'>*</span>:" />
                        <span id="usn_response" class="response"></span>
                        <input class="mt-2 mb-2" id="email" type="email" data-role="input" data-prepend="Email<span class='fg-red required-mark'>*</span>:" />
                        <div class="mb-4">
                            <label>Contact Number<span class="fg-red required-mark">*</span>:</label>
                            <input id="contact" type="text" data-role="input" data-prepend="+91" />
                        </div>
                        <div class="p-1 m-2">
                            <label>Parent/Guardian Details</label>
                            <div class="mb-2">
                                <input class="mb-2" id="parentName" type="text" data-role="input" data-prepend="Name<span class='fg-red required-mark'>*</span>:" />
                                <label>Contact Number<span class="fg-red required-mark">*</span>:</label>
                                <input class="mb-2" id="parentContact" type="text" data-role="input" data-prepend="+91" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <label>Drop marker on a pickup location (e.g.: Main Road) near to your home location<span class="fg-red required-mark">*</span></label>
                            <div data-role="panel">
                                <div id="leafletMap"></div>
                            </div>
                            <input class="mt-4 mb-4 ml-2 mr-2" type="text" data-role="input" id="end" data-prepend="Lat.,Long." style="width:100%!important;" disabled="disabled"/>
                        </div>
                        <div class="mx-auto mt-2">
                            <button type="submit" id="regForm" class="button bg-darkBlue fg-white" disabled="disabled">Submit the form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
        <script type="text/javascript" src="/js/signup.js"></script>
        <script type="text/javascript" src="/js/staticMarker.js"></script>
</body>
</html>
